
*.log
.DS_Store

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json

/vendor
/node_modules

/public/hot
/public/storage
/public/mobile-app

/storage/*.key
/storage/app
/storage/framework
/storage/logs

Homestead.json
Homestead.yaml
Thumbs.db

